.site-footer {
  margin: 0 auto;
  width: 320px;
  background-color: $basic-grey;
}

.social__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  padding-top: 52px;
  padding-left: 93px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &::after {
    position: absolute;
    content: "";
    background-color: $border-grey;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 280px;
    height: 1px;
    bottom: -21px;
    left: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $border-grey;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 280px;
    height: 1px;
    top: 20px;
    left: 20px;
  }
}

.social__link--vkontakte {
  padding-right: 36px;
}

.social__link--instagram {
  padding-right: 33px;
}

.site-footer__logo {
  padding-left: 96px;
}

.site-footer__copyright {
  padding-top: 43px;
  padding-left: 19px;
  padding-right: 20px;
}

.copyright__link {
  color: $special-dark-grey;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
