@import "_mixins";

.site-header {
  margin: 0 auto;
  padding: 0 10px;
  width: 320px;
  background-color: $basic-white;
  display: flex;
  flex-direction: row;
  align-content: start;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.site-header__logo {
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 65px;
}

.main-nav__toggle {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 24px;
  height: 16px;
  border: none;
  background-color: transparent;
  border-top: 1.5px solid $basic-black;
  border-bottom: 1.5px solid $basic-black;

  &::before {
    position: absolute;
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 1.5px;
    width: 24px;
    background-color: $basic-black;
    left: 0;
    bottom: 6px;
  }

  .visually-hidden {
    @include visually-hidden;
  }
}

.site-list {
  list-style: none;
  display: none;
}

.product-info__title {
  color: $special-dark-grey2;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
