.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  min-width: 320px;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
