@import "_variables.scss";
@import "_mixins";
@import "_fonts";

@media (max-width: $mobile-width-only) {
  .program__list {
    width: 320px;
    list-style: none;
    margin: 0 auto;
    padding: 0 10px;
  }

  .program__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 91px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  .program__title--pro::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 24px;
    top: 22px;
  }

  .program__title--slim::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 22px;
    top: 21px;
  }

  .program__title--slim::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 29px;
  }

  .program__title--pro::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 67px;
    height: 50px;
    top: 32px;
    left: 13px;
  }

  .program__description {
    position: relative;
    margin: 0;
    padding-left: 20px;
    padding-right: 33px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-dark-grey;

    &::before {
      position: absolute;
      content: "";
      background-color: $border-grey;
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 240px;
      height: 1px;
      bottom: -23px;
      left: 20px;
    }
  }

  .program__link {
    display: block;
    padding-top: 44px;
    padding-bottom: 21px;
    padding-left: 19px;
    color: $basic-black;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .program__list {
    width: 768px;
    list-style: none;
    margin: 0 auto;
    padding: 0 10px;
  }

  .program__title {
    margin: 0;
    padding-top: 77px;
    padding-bottom: 25px;
    padding-left: 52px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .program__description {
    position: relative;
    margin: 0;
    padding-left: 52px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $special-dark-grey;
  }

  .program__description--pro {
    padding-right: 334px;
  }

  .program__description--slim {
    padding-right: 295px;
  }

  .program__title--pro::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    right: 82px;
    top: 90px;
  }

  .program__title--slim::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    right: 82px;
    top: 92px;
  }

  .program__title--slim::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 140px;
    height: 192px;
    top: 81px;
    right: 111px;
  }

  .program__title--pro::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 268px;
    height: 112px;
    top: 134px;
    right: 49px;
  }

  .program__link {
    display: block;
    padding-top: 52px;
    padding-bottom: 57px;
    padding-left: 52px;
    color: $basic-black;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .program__wrapper {
    margin-bottom: 30px;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    width: 1440px;
    list-style: none;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .program__title {
    margin: 0;
    padding-top: 77px;
    padding-bottom: 73px;
    padding-left: 214px;
    position: relative;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .program__description--pro {
    padding-right: 61px;
  }

  .program__description--slim {
    padding-right: 51px;
  }

  .program__title--pro::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 52px;
    top: 48px;
  }

  .program__title--slim::before {
    position: absolute;
    content: "";
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 54px;
    top: 47px;
  }

  .program__title--slim::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 70px;
    height: 97px;
    top: 41px;
    left: 69px;
  }

  .program__title--pro::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 134px;
    height: 56px;
    top: 68px;
    left: 34px;
  }


  .program__item:not(:last-child) {
    margin-right: 80px;
  }

  .program__item {
    width: 570px;
  }
}

.program__wrapper {
  background-color: $basic-grey;
  margin-top: 21px;
  margin-left: 20px;
  margin-right: 20px;
}
