@import "_variables.scss";
@import "_mixins";
@import "_fonts";

.visually-hidden {
  @include visually-hidden;
}

.promo {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.promo__wrapper {
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: $mobile-width-only) {
  .promo__wrapper {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 768px;
  }

  .promo__top {
    background-color: $basic-white;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo__title {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-top: 64px;
    padding-left: 117px;
    padding-bottom: 40px;
    width: 414px;
  }

  .promo__sub-title {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 117px;
    margin: 0;
    padding-bottom: 629px;
    text-transform: uppercase;
  }

  .promo_bottom {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 709px;
      height: 609px;
      bottom: 0;
      left: 30px;
    }
  }

  .promo__link {
    position: absolute;
    bottom: 540px;
    left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    z-index: -1;
    right: 0;
  }

  .promo__wrapper {

    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .promo__top {
    order: 1;
    flex-grow: 1;
  }

  .promo_bottom {
    order: 2;
    flex-grow: 1;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 720px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 552px;
      height: 499px;
      bottom: 276px;
      left: -166px;
    }
  }

  .promo__link {
    position: absolute;
    bottom: 500px;
    left: -550px;
  }

  .promo__title {
    margin: 0;
    padding-top: 111px;
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    padding-bottom: 41px;
    padding-left: 190px;
    padding-right: 116px;
  }

  .promo__sub-title {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    padding-left: 190px;
    padding-right: 116px;
    padding-bottom: 547px;
  }
}

.promo__title {
  margin: 0;
  font-weight: normal;
}

@media (max-width: $mobile-width-only) {
  .promo__top {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo__title {
    color: $basic-white;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .promo__sub-title {
    color: $basic-white;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding-bottom: 167px;
    text-transform: uppercase;
  }

  .promo_bottom {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/index-can-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 270px;
      height: 280px;
      bottom: 32px;
      left: 22px;
    }
  }

  .promo__link {
    margin-top: 135px;
    margin-left: 20px;
    position: relative;
  }
}

.button {
  display: block;
  width: 280px;
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $basic-white;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: $basic-green;
  text-decoration: none;
  text-transform: uppercase;
}
